$large_min: 1441px;
$mobile_max: 767px;
$tablet_min: 768px;
$tablet_max: 1023px;

/*MOBILNI TELEFON*/

@media screen and (max-width: $mobile_max) {
  .carousel {
    .header {
      padding: 3rem 3rem 0rem 3rem !important;
      height: auto;

      .btn-mobile-nav {
        display: block;
        z-index: 1;
      }

      .logo {
        margin-bottom: 0;
      }

      .main-nav {
        background-color: rgba(255, 255, 255, 0.9);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;

        opacity: 0;

        pointer-events: none;

        visibility: hidden;
      }
    }
    .nav-open {
      .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
        z-index: 1;
      }

      .main-nav-list {
        flex-direction: column;
        gap: 3.2rem !important;

        .main-nav-link {
          color: #212121 !important;

          &.active {
            border-bottom: 2px solid #fa292c !important;
            color: #212121 !important;
            width: auto !important;
          }

          &.nav-cta {
            background-color: #212121 !important;
            color: #fff !important;
          }
        }
      }

      .btn-mobile-nav {
        #open_mobile_nav {
          display: none;
        }
        #close_mobile_nav {
          display: block;
        }
      }
    }
  }

  .slideshow-container {
    .mySlides {
      .slideshow-description {
        width: auto !important;
        left: 0 !important;

        h1 {
          font-size: 2.4rem !important;
          line-height: normal !important;
        }

        p {
          padding: 1rem 0rem !important;
          width: auto !important;
          font-size: 1.4rem;
          line-height: normal !important;
          color: #aea8a8;

          &::after {
            content: none !important;
          }
        }
      }
    }
  }

  .section-about {
    padding: 15rem 0rem;
    .grid--2-cols {
      grid-template-columns: repeat(1, 1fr);
      .about-img-box {
        .about-img {
          width: 80%;
        }

        &::before {
          width: 55%;
          padding-bottom: 80%;
        }

        &::after {
          bottom: -5rem;
          font-weight: bold;
          font-size: 0.8rem;
        }
      }

      .about-text-box {
        padding-top: 5rem;
        h1 {
          font-size: 2.2rem;
          line-height: normal;
          margin-bottom: 2.4rem;
        }

        h5 {
          font-size: 1.6rem;
        }

        p {
          font-size: 1.4rem;
        }
      }
    }
  }

  .section-featured {
    padding: 10rem 0rem;
    background-size: cover;
    .grid--2-cols {
      grid-template-columns: repeat(1, 1fr);

      .featuerd-info {
        h1 {
          font-size: 2.2rem;
        }

        .featured-numbers-grid {
          gap: 1.2rem;

          .featured-numbers-item {
            padding: 0.8rem;
          }
        }
      }
    }
  }

  .section-pricing {
    .background-modal {
      .container {
        h2 {
          font-size: 2.2rem;
        }
        .cars-list {
          flex-direction: column;
          gap: 1rem;

          .cars-list-item {
            padding-bottom: 0.5rem;
          }
        }
      }

      .grid--4-cols {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;

        .pricing-plan {
          width: auto;
        }
      }
    }

    .popup-container {
      width: auto;
      .modal-relative {
        .modal-grid {
          display: flex;
          flex-direction: column;
          border: 1px solid #f1f1f5;
          border-radius: 2rem 2rem 0rem 0rem;

          .modal-car-info {
            border-radius: 2rem 2rem 0rem 0rem;
          }

          .modal-configurator {
            padding: 1rem;
            gap: 2rem;
          }
        }
      }
    }
  }

  .section-conctact {
    padding: 9.6rem 0rem;

    .contact-image {
      display: none;
    }

    .grid--2-cols {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 4.8rem;

      .contact-text {
        h1 {
          font-size: 2.4rem;
        }
      }

      .contact-form {
        padding: 3.6rem;

        .contact-field {
          padding: 1.4rem;
          &::placeholder,
          &.area::placeholder {
            font-size: 1.4rem;
          }
        }

        .contact-button {
          padding: 0.9rem 1.8rem;
          font-size: 1.4rem;
        }
      }
    }

    .footer-section {
      flex-direction: column-reverse;
      text-align: center;
      gap: 5rem;

      .footer-list {
        justify-content: center;
      }
    }
  }
}

/*TABLET*/
@media screen and (max-width: $tablet_max) and (min-width: $tablet_min) {
  .carousel {
    .header {
      padding: 3rem 3rem 0rem 3rem !important;
      height: auto;

      .btn-mobile-nav {
        display: block;
        z-index: 1;
      }

      .logo {
        margin-bottom: 0;
      }

      .main-nav {
        background-color: rgba(255, 255, 255, 0.9);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;

        opacity: 0;

        pointer-events: none;

        visibility: hidden;
      }
    }
    .nav-open {
      .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
        z-index: 1;
      }

      .main-nav-list {
        flex-direction: column;
        gap: 3.2rem !important;

        .main-nav-link {
          color: #212121 !important;

          &.active {
            border-bottom: 2px solid #fa292c !important;
            color: #212121 !important;
            width: auto !important;
          }

          &.nav-cta {
            background-color: #212121 !important;
            color: #fff !important;
          }
        }
      }

      .btn-mobile-nav {
        #open_mobile_nav {
          display: none;
        }
        #close_mobile_nav {
          display: block;
        }
      }
    }
  }

  .slideshow-container {
    .mySlides {
      .slideshow-description {
        width: auto !important;
        left: 10% !important;

        h1 {
          font-size: 3.6rem !important;
          line-height: normal !important;
        }

        p {
          padding: 3.6rem !important;
          width: 55% !important;
          font-size: 1.6rem;
          line-height: normal !important;
          color: #aea8a8;

          &::after {
            bottom: 60px !important;
            left: 3rem !important;
            width: 4.8rem !important;
          }
        }
      }
    }
  }

  .section-about {
    padding: 20rem 0rem 15rem 0rem;
    .grid--2-cols {
      grid-template-columns: repeat(1, 1fr);
      .about-img-box {
        .about-img {
          width: 60%;
        }

        &::before {
          width: 40%;
          padding-bottom: 60%;
        }
      }

      .about-text-box {
        padding-top: 5rem;
        h1 {
          font-size: 3.2rem;
          line-height: normal;
          margin-bottom: 2.4rem;
        }

        h5 {
          font-size: 1.8rem;
        }

        p {
          font-size: 1.6rem;
        }
      }
    }
  }

  .section-featured {
    padding: 10rem 0rem;
    background-size: cover;
    .grid--2-cols {
      grid-template-columns: repeat(1, 1fr);

      .featuerd-info {
        h1 {
          font-size: 3.2rem;
        }

        .featured-numbers-grid {
          gap: 1.2rem;

          .featured-numbers-item {
            padding: 0.8rem;
          }
        }
      }
    }
  }

  .section-pricing {
    .background-modal {
      .container {
        h2 {
          font-size: 3.2rem;
        }
        .cars-list {
          .cars-list-item {
            padding-bottom: 0.5rem;
          }
        }
      }

      .grid--4-cols {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;

        .pricing-plan {
          width: auto;
        }
      }
    }

    .popup-container {
      width: 85%;
    }
  }

  .section-conctact {
    padding: 9.6rem 0rem;

    .grid--2-cols {
      column-gap: 4.8rem;
      .contact-text {
        h1 {
          font-size: 3.6rem;
          line-height: normal;
        }
      }

      .contact-form {
        .contact-field {
          padding: 1.4rem;
          &::placeholder,
          &.area::placeholder {
            font-size: 1.4rem;
          }
        }

        .contact-button {
          padding: 0.9rem 1.8rem;
          font-size: 1.4rem;
        }
      }
    }

    .footer-section {
      flex-direction: column-reverse;
      text-align: center;
      gap: 5rem;

      .footer-list {
        justify-content: center;
      }
    }
  }
}

/*PRICING SECTION ZA BROJ AUTOMOBILA KOJI MOGU DA STANU*/
@media screen and (min-width: 900px) and (max-width: 1200px) {
  .section-pricing {
    .background-modal {
      .grid--4-cols {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
      }
    }
  }
}

/*ZA PARAGRAPH ::AFTER DA UVEK BUDE U 3 REDA TEKST*/
@media screen and (min-width: 1520px) {
  .carousel {
    .slideshow-container {
      .mySlides {
        .slideshow-description {
          p {
            width: 77%;
          }
        }
      }
    }
  }
}

/*POPUP MODAL*/
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .section-pricing {
    .popup-container {
      width: 80%;
    }
  }
}

/*POMERANJE FOOTERA ZA VECE EKRANE*/
@media screen and (min-width: $large_min) {
  .section-conctact {
    .footer-section {
      padding-top: 10rem;
    }
  }
}
