/*GENERAL STYLING*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 9.6rem;
          column-gap: 9.6rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

h6 {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fa292c;
  letter-spacing: 0.3rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
  font-family: "Roboto Condensed";
}

h5 {
  font-size: 2rem;
  font-weight: 500;
  color: #212121;
  margin-bottom: 2.4rem;
  line-height: 3.2rem;
}

.active_cars {
  border-bottom: 2px solid #fa292c;
  width: 4.8rem;
  color: #212121 !important;
}

/*HEADER AND CAROUSEL*/
.carousel .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  height: 9.6rem;
  padding: 5rem 5rem 0rem 5rem;
  position: relative;
}

.carousel .header .logo {
  height: 3.6rem;
  margin-bottom: 1.6rem;
}

.carousel .header .btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.carousel .header .btn-mobile-nav .icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.carousel .header .btn-mobile-nav .icon-mobile-nav[name="close-outline"] {
  display: none;
}

.carousel .header .main-nav {
  /*OSTATAK*/
}

.carousel .header .main-nav .main-nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6.4rem;
}

.carousel .header .main-nav .main-nav-list .main-nav-link:link, .carousel .header .main-nav .main-nav-list .main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #727272;
  font-size: 1.6rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
  padding-bottom: 1.6rem;
  font-family: "Roboto Condensed";
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.carousel .header .main-nav .main-nav-list .main-nav-link:hover, .carousel .header .main-nav .main-nav-list .main-nav-link.active {
  color: #fff;
}

.carousel .header .main-nav .main-nav-list .main-nav-link.active {
  width: 130%;
  text-align: center;
  border-bottom: 1px solid #fa292c;
}

.carousel .header .main-nav .main-nav-list .nav-cta:link, .carousel .header .main-nav .main-nav-list .nav-cta:visited {
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
  padding: 1.8rem 3.2rem;
  border-radius: 3px;
  color: #fff;
  background-color: rgba(128, 128, 128, 0.4);
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.carousel .header .main-nav .main-nav-list .nav-cta:hover, .carousel .header .main-nav .main-nav-list .nav-cta:active {
  background-color: #fa292c;
  border: none;
}

.carousel .header .main-nav .main-nav-list li {
  position: relative;
}

.carousel .header .main-nav .main-nav-list li:hover > ul {
  position: absolute;
  top: 3rem;
  display: block;
  background-color: rgba(128, 128, 128, 0.4);
  padding: 2rem;
  z-index: 1;
  border: 1px solid #5c5c5c;
  border-top: 1px solid #fa292c;
}

.carousel .header .main-nav .main-nav-list .second-ul {
  display: none;
}

.carousel .header .main-nav .main-nav-list .second-ul li {
  width: 11rem;
  float: none;
  display: list-item;
  position: relative;
  list-style-type: none;
  padding: 1.5rem 0rem;
  border-bottom: 1px solid #5c5c5c;
}

.carousel .header .main-nav .main-nav-list .second-ul li:first-child {
  padding-top: 0rem;
}

.carousel .header .main-nav .main-nav-list .second-ul li:last-child {
  border-bottom: none;
  padding: 1.5rem 0rem 0rem 0rem;
}

.carousel .header .main-nav .main-nav-list .second-ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: "Roboto Condensed";
}

.carousel .slideshow-container {
  position: relative;
}

.carousel .slideshow-container .mySlides {
  text-align: center;
}

.carousel .slideshow-container .mySlides .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.carousel .slideshow-container .mySlides .slideshow-image {
  max-height: 80rem;
  width: 100%;
}

.carousel .slideshow-container .mySlides .slideshow-description {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: left;
  width: 35%;
}

.carousel .slideshow-container .mySlides .slideshow-description h1 {
  font-size: 4.8rem;
  color: #fff;
  font-weight: bold;
  line-height: 5.6rem;
}

.carousel .slideshow-container .mySlides .slideshow-description p {
  padding: 4.8rem;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #aea8a8;
}

.carousel .slideshow-container .mySlides .slideshow-description p::after {
  content: "";
  border: 1px solid #7d1514;
  position: absolute;
  left: 3rem;
  bottom: 7.5rem;
  width: 4.8rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.carousel .slideshow-container .prev,
.carousel .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(128, 128, 128, 0.4);
  border: 1px solid #5c5c5c;
}

.carousel .slideshow-container .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* ABOUT SECTION */
.section-about {
  padding: 15rem 0;
}

.section-about .about-img-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-about .about-img-box::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 65%;
  padding-bottom: 95%;
  background-color: #212121;
  z-index: -2;
}

.section-about .about-img-box::after {
  content: "A progressive desgin, a powerful engine.";
  position: absolute;
  bottom: -10rem;
  font-size: 1.4rem;
  font-style: italic;
  color: #858585;
}

.section-about .about-text-box .about-description {
  font-size: 1.8rem;
  line-height: 1.4;
  color: #4e4e4e;
}

.section-about .about-text-box .about-heading {
  font-size: 4.2rem;
  line-height: 4.8rem;
  margin-bottom: 4.8rem;
  color: #212121;
}

/*Featured section*/
.section-featured {
  background: url(../img/featured.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  padding: 9.6rem;
  background-position: center center;
  -webkit-box-shadow: inset 70rem 0rem 30rem #000000e6;
          box-shadow: inset 70rem 0rem 30rem #000000e6;
}

.section-featured .featured-grid {
  display: -ms-grid;
  display: grid;
}

.section-featured .featured-grid .featuerd-info h1 {
  font-size: 3.6rem;
  color: #fff;
}

.section-featured .featured-grid .featuerd-info p {
  color: #cdc4c5;
  padding: 2.4rem 0;
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 300;
}

.section-featured .featured-grid .featuerd-info .featured-numbers-grid {
  display: -ms-grid;
  display: grid;
  gap: 2.4rem;
}

.section-featured .featured-grid .featuerd-info .featured-numbers-grid .featured-numbers-item {
  /* background-color: rgba(163, 163, 163, 0.363); */
  background-color: #74747462;
  border: 1px solid #747474;
  text-align: center;
  padding: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section-featured .featured-grid .featuerd-info .featured-numbers-grid .featured-numbers-item h2 {
  color: #fff;
  font-size: 2.4rem;
}

.section-featured .featured-grid .featuerd-info .featured-numbers-grid .featured-numbers-item h4 {
  color: #fff;
  font-weight: 300;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  letter-spacing: 0.2rem;
  padding-bottom: 2.4rem;
}

.section-featured .featured-grid .featuerd-info .featured-numbers-grid .featured-numbers-item h5 {
  color: #fff;
  margin-bottom: 0;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 300;
}

/* PRICING SECTION */
.section-pricing {
  padding: 9.6rem 0;
  position: relative;
  /*POPUP MODAL*/
}

.section-pricing #blur.active-class {
  opacity: 0.3;
}

.section-pricing .heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  font-size: 3.6rem;
  margin-bottom: 4.8rem;
}

.section-pricing .cars-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-pricing .cars-list .cars-list-item:link, .section-pricing .cars-list .cars-list-item:visited {
  display: inline-block;
  text-decoration: none;
  color: #989db0;
  font-weight: 400;
  font-size: 1.8rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-bottom: 1.6rem;
}

.section-pricing .cars-list .cars-list-item:hover {
  color: #fa292c;
  font-weight: 400;
}

.section-pricing .pricing-grid {
  display: -ms-grid;
  display: grid;
  gap: 3.2rem;
  margin-top: 2.4rem !important;
}

.section-pricing .pricing-grid .pricing-plan--new {
  position: relative;
}

.section-pricing .pricing-grid .pricing-plan--new::after {
  content: "New";
  position: absolute;
  top: 2%;
  left: 3%;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  color: #fff;
  background-color: blueviolet;
  padding: 0.8rem;
  border-radius: 3px;
}

.section-pricing .pricing-grid .pricing-plan {
  border-radius: 5px;
  border: 1px solid #f3f3f5;
  padding: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-pricing .pricing-grid .pricing-plan .plan-header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.4rem;
  padding: 2rem 2rem 0 2rem;
}

.section-pricing .pricing-grid .pricing-plan .plan-header h2 {
  color: #212121;
  font-size: 1.8rem;
}

.section-pricing .pricing-grid .pricing-plan .plan-header a {
  text-decoration: none;
  font-size: 1.2rem;
  color: cornflowerblue;
}

.section-pricing .pricing-grid .pricing-plan .plan-header .configurate {
  cursor: pointer;
  color: cornflowerblue !important;
  font-size: 1.2rem !important;
}

.section-pricing .pricing-grid .pricing-plan .plan-header p {
  color: #989db0;
  font-size: 1.4rem;
}

.section-pricing .pricing-grid .pricing-plan .list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}

.section-pricing .pricing-grid .pricing-plan .list .list-item {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  line-height: 1.2;
  opacity: 0.8;
}

.section-pricing .pricing-grid .pricing-plan .list .list-item img {
  height: 0.8rem;
}

.section-pricing .pricing-grid .pricing-plan .pricing-price-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-pricing .pricing-grid .pricing-plan .pricing-price-info .price-info p {
  color: #969daf;
  font-size: 1.2rem;
}

.section-pricing .pricing-grid .pricing-plan .pricing-price-info .price-info h2 {
  color: #212121;
  font-size: 2rem;
  margin-top: 0.8rem;
}

.section-pricing .pricing-grid .pricing-plan .pricing-price-info button {
  background-color: #ffeae9;
  border: none;
  cursor: pointer;
  padding: 0 1.6rem;
  border-radius: 30px;
  font-size: 1.1rem;
  color: #fa2a28;
  font-weight: bold;
}

.section-pricing .popup-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  background-color: #fff;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 1rem;
}

.section-pricing .popup-container .modal-relative {
  position: relative;
}

.section-pricing .popup-container .modal-relative .modal-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  width: 100%;
}

.section-pricing .popup-container .modal-relative .modal-grid .modal-car-info {
  background-color: #f1f1f5;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.6rem 4.8rem;
  border-radius: 2rem 0rem 0rem 2rem;
}

.section-pricing .popup-container .modal-relative .modal-grid .modal-car-info h1 {
  color: #212121;
  font-size: 2.4rem;
  padding-bottom: 2.4rem;
}

.section-pricing .popup-container .modal-relative .modal-grid .modal-car-info p {
  color: #989db0;
  font-size: 1.4rem;
}

.section-pricing .popup-container .modal-relative .modal-grid .modal-car-info .modal-price-starting {
  background-color: #212121;
  padding: 1.2rem 5rem;
  border-radius: 2rem;
}

.section-pricing .popup-container .modal-relative .modal-grid .modal-car-info .modal-price-starting p {
  font-size: 1.2rem;
  color: #838383;
  padding-bottom: 0.5rem;
}

.section-pricing .popup-container .modal-relative .modal-grid .modal-car-info .modal-price-starting h3 {
  font-size: 2.4rem;
  color: #fff;
}

.section-pricing .popup-container .modal-relative .modal-grid .modal-configurator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0.5rem 3rem;
}

.section-pricing .popup-container .modal-relative .modal-grid .modal-configurator .configurator-text {
  padding-bottom: 2rem;
}

.section-pricing .popup-container .modal-relative .modal-grid .modal-configurator .configurator-text h3 {
  font-size: 1.8rem;
  color: #212121;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.section-pricing .popup-container .modal-relative .modal-grid .modal-configurator .configurator-text p {
  font-size: 1.2rem;
  color: #676767;
  font-weight: 500;
}

.section-pricing .popup-container .modal-relative .modal-grid .modal-configurator .configurator-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #f8f8f8;
  padding-bottom: 1rem;
}

.section-pricing .popup-container .modal-relative .modal-grid .modal-configurator .configurator-item:last-child {
  border-bottom: none;
}

.section-pricing .popup-container .modal-relative .modal-grid .modal-configurator .configurator-item h3 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #212121;
}

.section-pricing .popup-container .modal-relative .modal-grid .modal-configurator .configurator-item .configurate-checkbox {
  font-size: 1.4rem;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212121;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.section-pricing .popup-container .modal-relative .modal-grid .modal-configurator .configurator-item .configurate-checkbox .checkbox__input:checked + .checkbox__box {
  background: #212121;
  border-color: #212121;
}

.section-pricing .popup-container .modal-relative .modal-grid .modal-configurator .configurator-item .configurate-checkbox .checkbox__input {
  display: none;
}

.section-pricing .popup-container .modal-relative .modal-grid .modal-configurator .configurator-item .configurate-checkbox .checkbox__box {
  width: 2.25rem;
  height: 2.25rem;
  border: 2px solid #ccc;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.section-pricing .popup-container .modal-relative .modal-grid .modal-configurator .configurator-item .configurate-checkbox .checkbox__box::after {
  content: "\2714";
  color: #fff;
}

.section-pricing .popup-container .modal-relative .modal-paragraph {
  position: absolute;
  top: -20px;
  right: -20px;
  background-color: #212121;
  padding: 1.6rem;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

/*contact us*/
.section-conctact {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #212121 74%);
  position: relative;
  padding: 9.6rem 9.6rem 3.2rem 9.6rem;
  /*FOOTER*/
}

.section-conctact .contact-text {
  z-index: 1;
}

.section-conctact .contact-text h1 {
  font-size: 4.2rem;
  color: #fff;
  line-height: 4.8rem;
}

.section-conctact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4.8rem;
  background-color: #01330d;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.section-conctact .contact-form .contact-field {
  width: 100%;
  padding: 2rem 1.5rem;
  outline: none;
  border: 1px solid #fff;
  background-color: #4d6251;
  opacity: 0.5;
  font-size: 1.6rem;
  margin-bottom: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  border-radius: 3px;
}

.section-conctact .contact-form .contact-field::-webkit-input-placeholder, .section-conctact .contact-form .contact-field.area::-webkit-input-placeholder {
  font-size: 1.4rem;
  font-family: "Roboto Condensed";
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

.section-conctact .contact-form .contact-field:-ms-input-placeholder, .section-conctact .contact-form .contact-field.area:-ms-input-placeholder {
  font-size: 1.4rem;
  font-family: "Roboto Condensed";
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

.section-conctact .contact-form .contact-field::-ms-input-placeholder, .section-conctact .contact-form .contact-field.area::-ms-input-placeholder {
  font-size: 1.4rem;
  font-family: "Roboto Condensed";
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

.section-conctact .contact-form .contact-field::placeholder, .section-conctact .contact-form .contact-field.area::placeholder {
  font-size: 1.4rem;
  font-family: "Roboto Condensed";
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

.section-conctact .contact-form .contact-button {
  background-color: #01330d;
  border: none;
  outline: none;
  cursor: pointer;
  border: 2px solid #4d6251;
  color: #fff;
  padding: 1.8rem 3.6rem;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 1.6rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section-conctact .contact-form .contact-button:hover {
  background-color: #4d6251;
}

.section-conctact .contact-form .area {
  min-height: 15rem;
  resize: none;
  border-radius: 0px;
}

.section-conctact .contact-image {
  position: absolute;
  left: -11%;
  width: 68%;
  top: 32%;
}

.section-conctact .footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-conctact .footer-section .footer-paragraph {
  font-size: 1.6rem;
  font-family: "Roboto Condensed";
  color: #818181;
  font-weight: 500;
}

.section-conctact .footer-section .footer-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 2rem;
}

.section-conctact .footer-section .footer-list li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Roboto Condensed";
  color: #818181;
}
/*# sourceMappingURL=styles.css.map */